html {
  background: whitesmoke;
}
.container {
  width: "100%";
  height: "100%";
  display: "flex";
  flex-direction: "column";
}
.layout {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerBorder {
  width: 50%;
  border-bottom: 0.5px dotted black;
}

.headerNav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 72px;
  letter-spacing: 0.1em;
  text-decoration: none;

  color: #000000;
}
.headerNav > a:hover,
.headerNav > a:active {
  transform: scale(1.1);
}

.card {
  height: 100%;
  width: 60%;
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.linkStyle {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.linkStyle:link,
.linkStyle:visited {
  color: black;
  text-decoration: none;
}
.card:hover,
.card:active {
  transform: scale(1.1);
}

.bodyPost {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

.noPost {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 72px;
  color: gray;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

.comment {
  margin-left: 25%;
  margin-right: 25%;
}
